<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.moruke.wall.account.dao.mapper.OrganizationPropertiesMapper">
  <resultMap id="BaseResultMap" type="com.github.moruke.wall.account.dao.entity.OrganizationProperties">
    <!--@mbg.generated-->
    <!--@Table organization_properties-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="property" jdbcType="VARCHAR" property="property" />
    <result column="value" jdbcType="LONGVARCHAR" property="value" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="mender" jdbcType="BIGINT" property="mender" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, org_id, property, `value`, `status`, `type`, creator, mender, create_time, modify_time
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from organization_properties
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.github.moruke.wall.account.dao.entity.OrganizationProperties" useGeneratedKeys="true">
      <!--@mbg.generated-->
      insert into organization_properties (org_id, property, `value`,
                                           `status`, `type`, creator,
                                           mender)
      values (#{orgId,jdbcType=BIGINT}, #{property,jdbcType=VARCHAR}, #{value,jdbcType=LONGVARCHAR},
              #{status,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, #{creator,jdbcType=BIGINT},
              #{mender,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.github.moruke.wall.account.dao.entity.OrganizationProperties">
    <!--@mbg.generated-->
    update organization_properties
    set org_id = #{orgId,jdbcType=BIGINT},
      property = #{property,jdbcType=VARCHAR},
      `value` = #{value,jdbcType=LONGVARCHAR},
      `status` = #{status,jdbcType=TINYINT},
      `type` = #{type,jdbcType=TINYINT},
      creator = #{creator,jdbcType=BIGINT},
      mender = #{mender,jdbcType=BIGINT},
      modify_time = CURRENT_TIMESTAMP
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
      insert into organization_properties
          (org_id, property, `value`, `status`, `type`, creator, mender)
      values
      <foreach collection="list" item="item" separator=",">
          (#{item.orgId,jdbcType=BIGINT}, #{item.property,jdbcType=VARCHAR}, #{item.value,jdbcType=VARCHAR},
           #{item.status,jdbcType=TINYINT}, #{item.type,jdbcType=TINYINT}, #{item.creator,jdbcType=BIGINT},
           #{item.mender,jdbcType=BIGINT})
      </foreach>
  </insert>
  <select id="selectByOrgId" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from organization_properties
    where org_id = #{id,jdbcType=BIGINT}
    </select>

  <select id="selectByOrgIdAndProperty" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from organization_properties
    where org_id = #{id,jdbcType=BIGINT}
    and property = #{property,jdbcType=VARCHAR}
  </select>

  <select id="selectByOrgIdsAndProperty" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from organization_properties
    where org_id in
    <foreach collection="childIds" item="orgId" open="(" close=")" separator=",">
      #{orgId}
    </foreach>
    and property = #{property,jdbcType=VARCHAR}
  </select>

  <delete id="batchDelete">
    <!--@mbg.generated-->
    delete from organization_properties
    where id in
    <foreach collection="list" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>

  </delete>
</mapper>